<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0" >

  <name>JgDaVelha</name>

  <description>
      Um jogo divertido para jogar com amigos.
  </description>

  <author href="https://build.phonegap.com" email="support@phonegap.com">
      Pjoao266
  </author>
<icon src="imgs/ico.png" />
</widget>
